/* Main Styles */

input[type=text] {
    width: 250px;
    height: 30px;
    background-color: #cccccc;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input[type=text]:focus {
    width: 275px;
    height: 35px;
    background-color: #b3b3b3;
    transition: 1s;
    outline: none;
}

.thumbnails {
  margin: 30px 10px 0
}
.gallery {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.lightbox {
  max-width: 75%;
}

.lightbox {
  display: block;
  margin-right: auto;
  margin-left: 177px;
}

li {
  list-style-type: none;
}
.lb-number {
  display: none;
}
.lb-caption {
  padding-top: 20px;
}
